// Fonts
$font-base: 'Lato', Arial, Helvetica, sans-serif;
$font-form: 'Open Sans', Arial, Helvetica, sans-serif;
$font-header: 'Gentium Book Basic', 'Times New Roman', Georgia, serif;
$font-titles: 'Yeseva One', 'Times New Roman', Georgia, serif;

// Colors
$color-font: #4c4c4c;
$color-title: #c90;

// Backgounds
$bg-main: #191919;

// Vars for animation
$use-fadeIn: true;
$use-slideInUp: true;
