// Section top
.section-top {

	.line {
		overflow: hidden;
	}

	.img-holder {
		@include screen-sm {
			float: left;
			width: 30%;
		}
	}
}

// Section problem
.section-problem {

}

// Section about book and bonuses
.section-about-book,
.section-bonuses {
	.section-title {
		padding: 8% 0;
		background: $bg-main;
		color: #fff;
		font-size: 22px;
		font-weight: bold;

		@include screen-sm {
			font-size: 30px;
		}

		@include screen-md {
			font-size: 35px;
		}

		@include screen-lg {
			font-size: 40px;
		}
	}
}

.checked-list {
	padding: 0;
	margin: 5% auto;
	list-style: none;

	li {
		position: relative;
		margin-top: 15px;
		padding-left: 35px;

		&:before {
			content: '\e806';
			position: absolute;
			top: 0;
			left: 0;
			font-family: 'fontello';
			font-size: larger;
			font-style: normal;
			font-weight: normal;
			color: #08cb19;
		}
	}
}

.bonuses {
	&-inner {
		padding: 5% 0;
	}
	&-item {
		&:first-child {
			margin-bottom: 5%;
		}
	}
}

.bonus {
	&-number,
	&-text {
		@include screen-sm {
			display: inline-block;
			vertical-align: top;
		}
	}
	&-number {
		padding: 8% 2%;
		margin-bottom: 15px;
		background: lighten($bg-main, 15%);
		color: #fff;
		font-weight: bold;
		font-size: larger;

		@include screen-sm {
			width: 25%;
			padding-top: 5%;
			padding-bottom: 5%;
		}
	}

	&-text {
		@include screen-sm {
			width: 70%;
			margin-left: 3%;
		}
	}
}

// Books content
.books-content-list {
	padding: 0;
	margin: 5% auto;
	list-style: none;

	li {
		position: relative;
		margin-top: 15px;
		padding-left: 35px;

		&:before {
			content: '\e804';
			position: absolute;
			top: 0;
			left: 0;
			font-family: 'fontello';
			font-size: larger;
			font-style: normal;
			font-weight: normal;
			color: #08cb19;
		}
	}
}

.books-content-sublist {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Section cost
.cost {

	&-holder {
		text-align: center;
	}

	&-item {
		max-width: 320px;
		padding: 15px 10%;
		margin: auto auto 5%;
		background: #f1f1f1;
		font-size: 17px;
		text-align: left;

		@include screen-sm {
			display: inline-block;
			vertical-align: bottom;
			width: 40%;
			padding-left: 5%;
			padding-right: 5%;
		}

		&:last-child {
			@include screen-sm {
				margin-left: 10%;
			}
		}

		&-title {
			margin-bottom: 5%;
			padding: 10px 5px;
			color: #fff;
			text-align: center;
			text-transform: uppercase;

			&.base {
				background: #ddd;
			}

			&.optimal {
				background: #ff9966;
			}
		}

		&-text {
			margin-bottom: 8%;
		}
	}
}

.price {
	margin-bottom: 8%;
	font-size: larger;
	text-align: center;
}

@keyframes hvr-push { 
	50% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	} 
}

.btn {
	display: block;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
	border-radius: 5px;
	transform: translateZ(0);
	 box-shadow: 0 0 1px transparent; 
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;

    &:hover,
    &:focus,
    &:active {
		animation-name: hvr-push;
		animation-duration: 0.5s;
		animation-timing-function: linear;
		animation-iteration-count: 1;
    }

	&-base {
		background: #abafb3;
		background: linear-gradient(to bottom, #cbcccc 0%,#8f949a 100%);
	}

	&-optimal {
		background: #ff9201;
		background: linear-gradient(to bottom, #ffb400 0%,#ff7000 100%);
	}
}

.slogan {
	position: relative;
	padding-left: 30px;
	margin: 6% auto;

	&:before {
		content: '\e805';
		position: absolute;
		top: 0;
		left: 0;
		font-family: 'fontello';
		font-style: normal;
		font-weight: normal;
		color: #08cb19;
		text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
	}
}