.header {
	padding: 10% 0;
	background: $bg-main;
	color: #fff;
	text-align: center;
}

.page-title {
	font: bold 25px 'Montserrat', Helvetica, Arial, sans-serif;

	@include screen-sm {
		font-size: 40px;
	}

	@include screen-md {
		font-size: 50px;
	}

	@include screen-lg {
		font-size: 70px;
	}

	span {
		display: block;
	}
}