html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: 'Izhitsa';
  src: url("../fonts/Izhitsa.eot");
  src: url("../fonts/Izhitsa.eot?#iefix") format("embedded-opentype"), url("../fonts/Izhitsa.woff2") format("woff2"), url("../fonts/Izhitsa.woff") format("woff"), url("../fonts/Izhitsa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?44125514");
  src: url("../fonts/fontello.eot?44125514#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?44125514") format("woff2"), url("../fonts/fontello.woff?44125514") format("woff"), url("../fonts/fontello.ttf?44125514") format("truetype"), url("../fonts/fontello.svg?44125514#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: 0;
}

body {
  background: url(../img/bg-body.jpg) top left repeat;
  color: #522e13;
  font: 18px/1.3 'Roboto', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding-top: 6%;
  padding-bottom: 2%;
}

@media screen and (min-width: 992px) {
  section {
    padding-top: 4%;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    background: url(../img/bg-wrapper.jpg) top center no-repeat;
  }
}

@media screen and (min-width: 1920px) {
  .wrapper {
    background-size: 100% auto;
  }
}

.main {
  -webkit-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.3), -1px 0 10px rgba(0, 0, 0, 0.3), 0 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 0 10px rgba(0, 0, 0, 0.3), -1px 0 10px rgba(0, 0, 0, 0.3), 0 1px 10px rgba(0, 0, 0, 0.3);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background: #fae9d8;
}

.hidden {
  display: none;
}

.section-title {
  margin-bottom: 3%;
  font: 24px 'Izhitsa', Georgia, 'Times New Roman', serif;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 36px;
  }
}

@media screen and (min-width: 992px) {
  .section-title {
    font-size: 48px;
  }
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #fae9d8;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (min-width: 768px) {
  .main-nav {
    -webkit-box-shadow: 0 1px 3px #522e13;
            box-shadow: 0 1px 3px #522e13;
  }
}

.main-nav-fixed {
  -webkit-animation: slide-down 0.7s;
          animation: slide-down 0.7s;
  opacity: 0.95;
}

.main-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .main-nav-list {
    display: table;
    width: 100%;
    vertical-align: middle;
  }
}

@media screen and (min-width: 992px) {
  .main-nav-list {
    font-size: 18px;
  }
}

.main-nav-list__item:not(.booking) {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-nav-list__item:not(.booking) {
    display: table-cell;
  }
}

.main-nav-list__item.booking {
  max-width: 320px;
  margin: auto;
  background: #e63028;
  color: #fff;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .main-nav-list__item.booking {
    display: table-cell;
  }
}

.main-nav a {
  display: block;
  padding: 15px 5px;
  text-decoration: none;
  color: inherit;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.main-nav a:hover, .main-nav a:focus, .main-nav a:active {
  background: #f4d0ab;
}

.main-nav .modal-btn:hover, .main-nav .modal-btn:focus, .main-nav .modal-btn:active {
  background: #c41e17;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header {
  font: 26px/1.3 'Izhitsa', Georgia, 'Times New Roman', sans-serif;
  color: #393b25;
  text-align: center;
  -webkit-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.3), -1px 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 0 10px rgba(0, 0, 0, 0.3), -1px 0 10px rgba(0, 0, 0, 0.3);
}

.header__top {
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .header__top-item {
    display: inline-block;
    vertical-align: bottom;
  }
}

@media screen and (min-width: 768px) {
  .header__top-item-address, .header__top-item-phones {
    width: 30%;
  }
}

@media screen and (min-width: 768px) {
  .header__top-item-phones {
    font-size: 22px;
  }
}

@media screen and (min-width: 992px) {
  .header__top-item-phones {
    font-size: 26px;
  }
}

.header__top-item-phones span {
  font-family: 'Roboto', sans-serif;
}

.header__top-item-logo {
  width: 80%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .header__top-item-logo {
    width: 37%;
  }
}

.header__slider {
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
}

.header__slider-title {
  margin: 0;
  padding: 15px 0;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  background: url(../img/bg-title.jpg) top center;
  background-size: 100% 100%;
  -webkit-box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {
  .header__slider-title {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .header__slider-title {
    font-size: 30px;
  }
}

.footer {
  height: 100px;
  background: url(../img/bg-footer.jpg) top center no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 240px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.modal-content {
  position: relative;
  background-color: #fff;
  margin: 10% auto 0;
  padding: 25px;
  border: 1px solid #522e13;
  width: 90%;
  max-width: 800px;
  font-size: 24px;
  font-weight: 400;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 10px;
  color: #522e13;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover, .modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 4%;
}

@media screen and (min-width: 768px) {
  .modal-title {
    font-size: 34px;
  }
}

@media screen and (min-width: 992px) {
  .modal-title {
    font-size: 48px;
  }
}

.form-box {
  text-align: center;
}

.input-holder {
  position: relative;
  text-align: left;
  margin-bottom: 5%;
}

@media screen and (min-width: 768px) {
  .input-holder {
    display: inline-block;
    vertical-align: top;
    width: 44%;
  }
}

@media screen and (min-width: 768px) {
  .input-holder:nth-child(odd) {
    margin-right: 3%;
  }
}

.modal label {
  display: block;
}

.modal input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #aeafb2;
  border-radius: 8px;
  font-family: inherit;
  font-size: 20px;
  color: inherit;
}

.submit-btn {
  display: block;
  width: 100%;
  max-width: 340px;
  margin: 1.5em auto 0;
  padding: 10px;
  background: #e63028;
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .submit-btn {
    margin-top: 0;
    font-size: 30px;
  }
}

.submit-btn:hover {
  background: #c41e17;
}

.submit-btn.btn-disabled {
  background: #666;
}

.modal span.invalid {
  position: absolute;
  z-index: 1;
  top: calc(100% + 5px);
  left: 0;
  padding: 0 .5rem;
  background: #e63028;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 2px;
}

.modal span.invalid:before {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 100%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #e63028;
}

.modal .success-msg {
  padding-top: 2em;
  color: #522e13;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  clear: both;
}

.advantages__inner {
  text-align: center;
}

.advantages__item {
  position: relative;
  margin-bottom: 5%;
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 1px #ccc;
          box-shadow: 0 0 5px 1px #ccc;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: 30%;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item:nth-child(3n+2) {
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.advantages__item img {
  display: block;
  border-radius: 10px;
}

.advantages__item-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (min-width: 768px) {
  .advantages__item-text {
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item-text {
    font-size: 21px;
  }
}

.advantages__item-text > * {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.shares__inner {
  text-align: center;
}

.shares__item {
  position: relative;
  margin-bottom: 10%;
  display: inline-block;
  vertical-align: top;
}

@media screen and (min-width: 768px) {
  .shares__item {
    width: 30%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .shares__item:nth-child(3n+2) {
    margin-left: 2%;
    margin-right: 2%;
  }
}

.shares__item-top {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.shares__item-top-title {
  padding: 10px;
  background: #522e13;
  color: #c67d33;
  font: 24px/1.2 'Izhitsa', Georgia, 'Times New Roman', sans-serif;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .shares__item-top-title {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .shares__item-top-title {
    font-size: 38px;
  }
}

@media screen and (min-width: 992px) {
  .shares__item-top-title {
    font-size: 30px;
  }
}

.shares__item-shadow {
  margin: 4% auto 3%;
  vertical-align: bottom;
}

.shares__item-text {
  font-weight: bold;
  line-height: 1.5;
}

.services-inner {
  position: relative;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .services-inner {
    padding: 10px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .services-inner {
    padding: 15px 40px;
  }
}

.services-inner__shadow {
  position: absolute;
  left: 0;
  width: 100%;
}

.services-inner__shadow--top {
  bottom: 100%;
}

.services-inner__shadow--bottom {
  top: 100%;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.services-row {
  text-align: center;
  border: 1px solid #522e13;
}

@media screen and (min-width: 768px) {
  .services-row {
    display: table;
    width: 100%;
    vertical-align: middle;
    border: 0;
  }
}

.services-row:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .services-row:not(:last-child) {
    margin-bottom: 0;
    border-bottom: 1px solid #522e13;
  }
}

.services__data {
  position: relative;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .services__data--left {
    display: table-cell;
    padding-right: 25px;
    width: 60%;
    text-align: left;
    vertical-align: middle;
    border-right: 1px solid #522e13;
  }
}

.services__data--left:after {
  content: '';
  position: absolute;
  top: 100%;
  width: 90%;
  height: 1px;
  left: 5%;
  background: #522e13;
}

@media screen and (min-width: 768px) {
  .services__data--left:after {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .services__data--right {
    display: table-cell;
    width: 40%;
    vertical-align: middle;
  }
}

.services__data-inner {
  position: relative;
  padding: 10px 0;
}

@media screen and (min-width: 768px) {
  .services__data-inner {
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .services__data-inner:not(:last-child):after {
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 1px;
    background: #522e13;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.map-holder {
  margin-left: -15px;
  margin-right: -15px;
}

.contacts {
  padding-bottom: 5%;
}

@media screen and (min-width: 768px) {
  .contacts {
    padding-bottom: 2%;
  }
}

.contacts-inner {
  margin: 5% auto 0;
  text-align: center;
}

.contacts__item {
  text-align: center;
  margin: 0 auto 10% auto;
}

@media screen and (min-width: 768px) {
  .contacts__item {
    display: inline-block;
    vertical-align: top;
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item {
    width: 23%;
    margin-bottom: 0;
  }
}

.contacts__item a {
  color: inherit;
  text-decoration: none;
}

.contacts__item-icon {
  position: relative;
  margin: auto;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
}

.contacts__item-icon a {
  display: block;
  width: 100%;
  height: 100%;
}

.contacts__item-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contacts__item-shadow {
  margin: 3% auto;
  vertical-align: bottom;
}

.contacts__item-text {
  max-width: 250px;
  margin: auto;
  font-size: 20px;
}

.contacts__item-text--red {
  color: #e63028;
  font-weight: 900;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  z-index: 50;
  display: block;
  height: 100%;
  top: 0;
  font-size: 0;
  line-height: 0;
  width: 40px;
  cursor: pointer;
  background: #542d13;
  opacity: 0.6;
  padding: 0;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .slick-prev,
  .slick-next {
    width: 70px;
  }
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 0.8;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.8;
}

.slick-prev:before,
.slick-next:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-65%, -50%);
          transform: translate(-65%, -50%);
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  color: #fae9d8;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 65px;
  }
}

.slick-prev {
  left: 0;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: 0;
}

.slick-prev:before {
  content: '\e801';
}

[dir="rtl"] .slick-prev:before {
  content: '\e800';
}

.slick-next {
  right: 0;
}

[dir="rtl"] .slick-next {
  left: 0;
  right: auto;
}

.slick-next:before {
  content: '\e800';
}

[dir="rtl"] .slick-next:before {
  content: '\e801';
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
